.homepage {
  display: grid;
  height: 93vh;
  grid-template-columns: auto auto;
}

.homepage-titles {
  display: grid;
  justify-content: center;
  margin-left: 90px; 
  align-items: center;
  grid-template-columns: auto;
}

.homepage-title1 {
  align-items: center;
  align-self: end;
  margin-bottom: 30px;
  font-size: 60px;
}

.homepage-title2 {
  text-align: center;
  align-self: start;
  font-size: 20px;
}

.homepage-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage-img > img {
  position: relative;
  transform: translate(50px,-10px);
  width: 60%;
}

@media screen and (max-width: 1100px) {
  .homepage {
    display: grid;
    height: 100%;
    grid-template-areas:
      "homepage-img"
      "homepage-titles";
  }
  .homepage-titles {
    margin-top: 0px;
    margin-left: 0px;
    grid-area: homepage-titles;
  }
  .homepage-title1 {
    font-size: 40px;
    margin-top: 50px;
    margin-left: 0px;
    align-self: center;
    text-align: center;
    height: 220px;
    overflow: hidden;
  }
  .homepage-title2 {
    margin-left: 0px;
    font-size: 20px;
  }
  .homepage-img {
    margin-top: 30px;
    grid-area: homepage-img;
  }
  .homepage-img > img {
    transform: none;
    width: 70%;
  }
}
