.info-card {
  background: linear-gradient(to right bottom, #001845, #002855);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}

.card-platform {
  font-size: 13px;
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 5px;
}

.card-title {
  margin-left: 5px;
  margin-top: 20px;
  font-size: 18px;
}

.card-start-time{
  font-size: 12px;
  margin-left: 5px;
  margin-top: 20px;
}

.card-end-time{
  font-size: 12px;
    margin-left: 5px;
  margin-top: 5px
}

.live{
  text-align: end;
  padding-right: 5px;
}

.register-button {
  margin-left: 5px;
  background: #c8e7ff;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  width: 30%;
  margin-bottom: 10px;
  cursor: pointer;
}

.register-button-name > a{
  text-decoration: none;
  color: #003049;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

@media screen and (max-width:500px) {
  .card-platform{
    font-size: 10px;
  }
  .card-title{
    margin-top: 10px;
    font-size: 14px;
  }
  .card-start-time{
    margin-top: 15px;
    font-size: 10px;
  }
  .card-end-time{
    margin-top: 0px;
    font-size: 10px;
  }
  .register-button{
    margin-top: 15px;
    width: 25%;
  }
  .register-button-name{
    font-size: 10px;
  }
}