.navbar {
  display: grid;
  height: 7vh;
  align-items: center;
  grid-template-columns: auto auto auto;
  text-align: center;
}

.title {
  font-weight: bold;
}

.list {
  display: grid;
  grid-template-columns: repeat(9, auto);
}

.list-item {
  list-style: none;
  cursor: pointer;
}


.respNav {
  text-align: center;
  overflow: hidden;
  animation: responsive-nav 0.8s;
  animation-direction: alternate;
}

.respNav > li {
  margin: 20px;
}

.bars {
  cursor: pointer;
  display: none;
}

.fa-adjust{
  animation: switching-mode1 1s ;
}

.fa-moon{
  animation: switching-mode 1s;
}

@keyframes switching-mode {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes switching-mode1 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 1245px) {
  .list {
    display: none;
  }
  .bars {
    display: block;
  }
}

@keyframes responsive-nav {
  0% {
    height: 0px;
  }
  100%{
    height: 416px;
  }
}
